# Python
__pycache__/

# Node
node_modules/

# Build outputs
build/
dist/
*.egg-info/
*.vsix

# Virtual environments
venv/

# IDE
.vscode/mcp.json

# Application specific
*.db
*.lock

# Environment variables
.env

# Cache
.cache
